<head>
    <link rel="stylesheet" href="/styles/styles.css">
</head>
<main>
    <div>
        <h1 id="home-page">Wind, Forest, Fire, Mountain</h1>
    </div>
    <blockquote id="home-para">
        <p>
            "As swift as wind, as gentle as forest, as fierce as fire, as unshakable as mountain."
        </p>
        
                                             — Sun Tzu, <cite>The Art of War</cite>
        
    </blockquote>
</main>