<main id="mainContainer">
  <h1>Invoices</h1>
  <div id="header-container">
    <form id="searchForm" action="/invoices/search" method="GET">
      <input
        class="searchbar"
        type="text"
        name="q"
        placeholder="Search by Name or Inv. #"
      />
      <button class="btn btn-primary" type="submit">Search</button>
    </form>
    <a id="create-button" href="/invoices/create"
      ><button id="newInvoice" class="btn btn-success">New Invoice</button></a
    >
  </div>
  <div id="list-container">
    <ul>
      <% invoices.forEach(invoice => { %>
        <li class="invoices-list">
          <a href="/invoices/<%= invoice._id %>" target="_blank">
            <%= "Invoice#" + invoice.invoiceNumber %>
            <% if (invoice.user && invoice.user.username) { %>
              <%= " - " + invoice.user.username %>
            <% } else { %>
              <%= " - User not found" %>
            <% } %>
          </a>
          <!-- Other code -->
        </li>
      <% }) %>
    </ul>
  </div>
</main>
