<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chuan He - A04</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <main>
     <header class="flexbox-header">
        <div class="logo-company">
            <img src="images/logo.png" alt="Company Logo">
            <div>
                <p>Example Co.
                <br>123 Example Street<br>suite 101<br> Eaxmpleton.BC<br>A1A 1A1
                <br>owner@Exampleco.com</p>
            </div>
        </div>
        <div class="invoice-number">
            <p>Invoice 12345</p>
        </div>
     </header>

     <section class="flexbox-summary">
        <div class="client-info">
            <h3>Bill To:</h3>
            <p>Clinet Name
                <br>Client company name
                <br>123 example Street
                <br>suite 123
                <br>demo Ville,BC
                <br>V1V 5E5
                <br>owner@client-companyname.com
               </p>
        </div>
        <div class="flexbox-invoice-info">
            <div class="inner">
                <h5>DATE</h5>
                <p>2023/10/21</p>
            </div>
            <div class="inner">
                <h5 >PLEASE PAY</h5>
                <p>CAD 8000.00</p>
            </div>
            <div class="inner">
                <h5>DUE DATE</h5>
                <p>2023/10/21</p>
            </div>
           
        </div>
     </section>

     <section class="flexbox-billable">
   
        <div class="billable-item">
            <div>Item</div>
            <div>Cat1: Product1</div>
            <div>Cat2: Product1</div>
        </div>
        <div class ="billable-quantity">
              <div>Quantity</div>
              <div>1</div>
              <div>100</div>
              
        </div>
        <div class ="billable-rate">
              <div>Rate</div>
              <div>100.00</div>
              <div>900.00</div>
              
        </div>
        <div class ="billable-Amount">
              <div>Amount</div>
              <div>100.00</div>
              <div>9000.00</div>
        </div>
      
     </section>

     <section class="flexbox-payment">
        <div class="payment-instructions">
            <p>Please remit payment via Interac E-transfer to</p>
            <p>owner@Exampleco.com</p>
        </div>
        <div class="total-due"><strong>Total Due:</strong> $9100.00</div>
     </section>
     <footer class="flexbox-footer">
        <div>© YYYY Company Name</div>
     </footer>
    </main>
 
</body>
</html>