@charset "UTF-8";

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

.grid-container {
  display: grid;
  grid-template-rows: 150px 170px 80px 0.2fr auto;
  max-width: 80%;
  min-height: 100vh;
  padding: 0;
  margin: 0 auto;
  position: relative;
}

header {
  display: grid;
  grid-template-columns: auto 1fr;
}

.company-info-logo {
  display: flex;
  align-items: center;
  height: 150px;
}

.logo-image {
  width: 150px;
  height: 150px;
}

.client-info p {
  margin: 0;
}

.invoice-num {
  text-align: right;
  margin-top: 1.5rem;
}

.client-section {
  display: grid;
  grid-template-columns: auto 300px;
}

h2 {
  font-size: 10px;
}

.company-info p {
  margin: 0;
}

.boxed-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
  align-items: center;
}

.boxed-info p {
  margin: 0;
}

.boxed-date {
  width: 100px;
  height: 100px;
  border: 1px solid black;
  padding-top: 30px;
}

.boxed-pls-pay {
  width: 100px;
  height: 100px;
  border: 1px solid black;
  padding-top: 30px;
}

.boxed-due-date {
  width: 100px;
  height: 100px;
  border: 1px solid black;
  padding-top: 30px;
}

.purchased-items {
  display: grid;
  grid-column-end: -1;
}

.purchased-items table {
  margin-bottom: 1em;
}

.purchased-items thead {
  display: flex;
}

.purchased-items tbody {
  text-align: center;
}

th {
  font-size: 10px;
}

.item {
  text-align: left;
}

.amount {
  text-align: right;
}

span {
  font-size: 10px;
  font-weight: bold;
}

.payment-section {
    margin-top: 5em;
  display: flex;
  justify-content: space-between;
}

.payment-info p {
  margin: 0;
  padding: 30;
}

.table-payment {
  align-items: center;
  justify-content: space-between;
  text-align: right;
  padding: 0;
}

footer {
  grid-row-start: -1;
  grid-row-end: 5;
  margin-top: auto;
  margin-bottom: 20px;
  text-align: right;
  color: rgba(95, 80, 80, 0.603);
}

.footer p {
  text-align: right;
  margin: 0;
}